<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_fix_mobile" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_fix_mobile" >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2qHxmOCALO9xvAj_1JcuPaoNZlwCwHwI" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding_satu" />
        <activity android:name=".signup" />
        <activity android:name=".onboarding_dua" />
        <activity android:name=".login" />
        <activity android:name=".onboarding_tiga" />
        <activity android:name=".home" />
        <activity android:name=".listbuku" />
        <activity android:name=".bukubaru" />
        <activity android:name=".bukurekom" />
        <activity android:name=".detail" />
        <activity android:name=".konfirmasi" />
        <activity android:name=".input" />
        <activity android:name=".sirkulasi" />
        <activity android:name=".RegisterasiActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>